
h3{
  color: #ef4444;
  text-align: center;
  width: 100%;
}

.element{
  display: block;
  width: 250px;
  height: 20px;
  border: 1px solid grey;
  font-weight: bold;
  margin-bottom: 15px;
}

.element:focus{
  outline: none;
}

.label-personal{
  font-size: 1.05em;
}

.contents{
  border-radius: 8px;

  box-shadow: 2px 2px 2px lightgray;
  background-color: whitesmoke;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.personal{
  
  font-weight: bold;
  width: 320px;
  /* background-color: red; */
  /* width: 98%; */
  margin: 0 auto;
  margin-top: 30px;

}

#submit{
  
  display: block;
  width: 250px;
  background-color: #ef4444;
  color: white;
  border: 0;
  padding: 3px;
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;
}

#submit:hover{
  opacity: 0.8;
}

.head-container{
  background-color: #bef264;
  color: white;
  padding: 5px 0;
}

.title{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 1.8em;
  font-weight: bold;
}

.to{
  font-size: 0.8em;
}

.years{
  width: 100px;
}

.main{
  width: 95%;
  /* background-color: red; */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.all-dates{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
}

.preview{
  font-weight: bold;
  min-width: 290px;
  max-width: 400px;
  min-height: 400px;
  
  font-family:'Times New Roman', Times, serif;
  box-shadow: 2px 2px 2px lightgray;
  background-color: whitesmoke;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  font-size: 1.1em;
}

.secondary-title{
  text-align: center;
  font-size: 1.2em;
  text-decoration: underline;
}